  html{
font-family: 'DotGothic16', sans-serif;
font-size: 60px;
  }

  body {
      width: 1080px;
      height: 1420px;
      margin:0 auto;
    user-select: none;
    color: darkgreen;
    background-color: rgb(243, 244, 238);
  }

  canvas{
margin: auto;
  }

  div{
    text-align: center;
  }

  button{
    width: 130px;
    height: 130px;
    border-style: none;
    border-radius: 50%;
    box-shadow: 0 10px 10px 0.5px;
    font-size: 40px;
  }

span{
  padding: 50px;
}

  #button1{
    color: #ff7abc;
    background-color: #fff3ff;
  }

  #button2{
    color: #ff7a7a;
    background-color: #fff1f1;
  }

  #button3{
    color:#7a7aff;
    background-color: #f7f7ff;
  }

  #button4{
    color:#ffaa55;
    background-color: #fff6ee;
  }

  #button5{
    color:#00984f;
    background-color: #f1fffc;
  }

  #button6{
    color:#bc7aff;
    background-color: #f8f1ff;
  }

    #count1 {
      color: #ff7abc;
    }
  
    #count2 {
      color: #ff7a7a;
    }
  
    #count3 {
      color: #7a7aff;
    }
  
    #count4 {
      color: #ffaa55;
    }
  
    #count5 {
      color: #00984f;
    }
  
    #count6 {
      color: #bc7aff;
    }

  header{
    font-size:40%;
  }

  footer{
font-size: 20px;
text-align: center;
  }

  /* button:active{
        border-style: none;
          border-radius: 50%;
          box-shadow: 0 0px 0px;
          background-color: rgb(193, 182, 198);
  }  */
