  html{
font-family: 'DotGothic16', sans-serif;
font-size: 60px;
  }

  body {
      width: 1080px;
      height: 1920px;
      margin:0 auto;
    user-select: none;
    color: darkgreen;
    background-color: rgb(242, 245, 234);
  }

  canvas{
margin: auto;
  }

  div{
    text-align: center;
  }

  button{
    width: 130px;
    height: 130px;
    border-style: none;
    border-radius: 50%;
    box-shadow: 0 5px 5px 0.5px;
    color: rgb(105, 52, 155);
    background-color:rgb(254, 250, 255);
    font-size: 40px;
  }

  header{
    font-size:40%;
  }

  footer{
font-size: 20px;
text-align: center;
  }

  /* button:active{
        border-style: none;
          border-radius: 50%;
          box-shadow: 0 0px 0px;
          background-color: rgb(193, 182, 198);
  } */
